$grid__cols: 12;

@for $i from 1 through $grid__cols {
  .col-#{$i} {
    flex-basis: (100 / ($grid__cols / $i)) * 1%;
  }
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
}
.col {
  flex: 1 0 1;
  width: percentage(100 / $grid__cols);
}

@include lg {
  @for $i from 1 through $grid__cols {
    .col-lg-#{$i} {
      flex-basis: (100 / ($grid__cols / $i)) * 1%;
    }
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-lg {
    flex: 1 0 1;
    width: percentage(100 / $grid__cols);
  }
}

@include md {
  @for $i from 1 through $grid__cols {
    .col-md-#{$i} {
      flex-basis: (100 / ($grid__cols / $i)) * 1%;
    }
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-md {
    flex: 1 0 1;
    width: percentage(100 / $grid__cols);
  }
}

@include sm {
  @for $i from 1 through $grid__cols {
    .col-sm-#{$i} {
      flex-basis: (100 / ($grid__cols / $i)) * 1%;
    }
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-sm {
    flex: 1 0 1;
    width: percentage(100 / $grid__cols);
  }
}
