body 
{
    background: rgb(204,204,204); 
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
page 
{
    background: white;
    
    display: flex;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    overflow: hidden;
}

#full
{
    margin:6.9%;
}
#main
{
    margin:5%;
}
#sender
{
    background:black;
    color:white;
    display:flex;
    align-items:flex-end;
    
}
#send-right
{
    padding-left:5%;
}
#receiver,#sender
{
    padding:5%;
    padding-top:4%;
    padding-bottom:4%;
}
#receiver
{
    padding-bottom:0;
}
#date
{
    text-align: right;
    padding-bottom:4%;
}
#subject
{
    padding-bottom:7%;
}
#greetings
{
    padding-top:7%;
}
#profile-f
{
    
    height:100%;
    width:100%;
}
.full 
{
    overflow: hidden;
    width:100%;
}
.header
{
    width:100%;
    background-color: darkgray;
    color:white
}
#profileHeader-l
{
    padding-left:5%;
    padding-top:2%;
    padding-bottom:2%;
}
#profileHeader-r
{
    text-align: right;
    padding-right:5%;
    padding-bottom:1%;
}
.profileContent
{

    height:100%;
    background: linear-gradient(90deg, white 42%, lightgray 42%);
    background-color:lightgray;
}
.section-L
{
    width:42%;
}
.section-R
{
    width:58%;
}
.section 
{
    display:flex;
}
ul 
{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
  
li
{
    padding-left: 1em;
    text-indent: -1em;
}
  
li:before 
{
    
    font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0da";
    padding-right: 5px;
}
page[size="A4"] 
{  
    width: 21cm;
    height: 29.7cm; 
}
h3 
{
    font-weight: normal;
    margin:0px;
}
