body
{
  font-family: 'Ubuntu', sans-serif;

  background-color: #191919;
  color: #fefefe;
  font-size: 3em;
  
}
.middle
{
  text-align: center;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

  -webkit-animation: color-change 120s infinite;
}

@-webkit-keyframes color-change {
  0% { color: #fefefe; }
  5% { color: #C5DCA0; }
  15% { color: #AD546B; }
  25% { color: #AADDDD; }
  35% { color: #E87DE8; }
  45% { color: #FCD0A1; }
  55% { color: #C2D3A2; }
  65% { color: #FF545C; }
  75% { color: #2F4858; }
  85% { color: #606C82; }
  95% { color: #EDA8A8; }
  100% { color: #fefefe; }
}

.menu--button
{
  
  margin-bottom:auto;
  padding-left:8px;
  padding-right:8px;
  -webkit-animation: color-change 120s infinite;
  -webkit-transition-duration : 0.5s;
  background-color: #0d0d0d;
}
.menu--button:hover
{
  padding-left:12px;
}
.menu--container
{
  height:100%;
  display:flex;
  position: absolute;
  left:0;
  top:0;
}
.menu
{
  font-size:32px;
  background-color: #0d0d0d;
  -webkit-animation: color-change 120s infinite;
  width:0px;
  overflow: hidden;
  padding-top: 30px;
  -webkit-transition-duration : 1s;
}
.list--container 
{
  padding-left:16px;
}
.list--container ul
{
  padding-left:16px;
}
.list--container li:hover
{
  color:pink;
}
ul {
  padding:32px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


a
{
  padding-left: 0px;
  text-decoration: none;
  color:inherit
}
.console 
{
  padding-top:16px;
}
input
{
  border-style: none;
  border-width: 1px;
  border-color: black;
  padding-left: 0px;
  width   : 480px;
  font-size:30px;
  background-color: #0d0d0d;
  color:#fefefe;
}

.profpic {
  max-width: 100%;
  width: auto;
  height: auto;
}

.selfpromo {
  width: 0.35rem;
  height: 0.35rem;
  position: fixed;
  left: 0.5rem;
  bottom: 0.5rem;
}

.flashing {
  position: relative;
  width: 0.35rem;
  height: 0.35rem;
  background-color: red;
  animation-name: flashing;
  animation-duration: 6.9s;
  animation-iteration-count: infinite;
}
.dropdown {
  height: 100%;
  width: 100%;
}

@keyframes flashing {
  0% {
    background-color: #f45b69;
  }
  5% {
    background-color: #f45b69;
  }
  6% {
    background-color: #99e1d9;
  }
  10% {
    background-color: #99e1d9;
  }
  11% {
    background-color: #4c5b61;
  }
  15% {
    background-color: #4c5b61;
  }
  16% {
    background-color: #e9d985;
  }
  20% {
    background-color: #e9d985;
  }
  21% {
    background-color: #9b6a6c;
  }
  25% {
    background-color: #9b6a6c;
  }
  26% {
    background-color: #6fd08c;
  }
  30% {
    background-color: #6fd08c;
  }
  31% {
    background-color: #090446;
  }
  35% {
    background-color: #090446;
  }
  36% {
    background-color: #97ead2;
  }
  40% {
    background-color: #97ead2;
  }
  41% {
    background-color: #f72c25;
  }
  45% {
    background-color: #f72c25;
  }
  46% {
    background-color: #735cdd;
  }
  50% {
    background-color: #735cdd;
  }
  51% {
    background-color: #65b891;
  }
  55% {
    background-color: #65b891;
  }
  56% {
    background-color: #f7f0f5;
  }
  60% {
    background-color: #f7f0f5;
  }
  61% {
    background-color: #82ff9e;
  }
  65% {
    background-color: #82ff9e;
  }
  66% {
    background-color: #414073;
  }
  70% {
    background-color: #414073;
  }
  71% {
    background-color: #f79ad3;
  }
  75% {
    background-color: #f79ad3;
  }
  76% {
    background-color: #afafdc;
  }
  80% {
    background-color: #afafdc;
  }
  81% {
    background-color: #abff4f;
  }
  85% {
    background-color: #abff4f;
  }
  86% {
    background-color: #f21b3f;
  }
  90% {
    background-color: #f21b3f;
  }
  91% {
    background-color: #dec3be;
  }
  95% {
    background-color: #dec3be;
  }
  96% {
    background-color: #f19a3e;
  }
  100% {
    background-color: #f19a3e;
  }
}

/*# sourceMappingURL=self.css.map */
