@import "./scss/_breakpoints.scss";
@import "./scss/_columns.scss";
$dark: #202040;
$lighter: #543864;
$color: #ffbd69;
$accent: #ff6363;

@font-face{
    font-family: 'Manrope';
    src: url('https://raw.githubusercontent.com/sharanda/manrope/master/fonts/web/manrope-regular.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/sharanda/manrope/master/fonts/web/manrope-regular.woff') format('woff'),
         url('https://raw.githubusercontent.com/sharanda/manrope/master/fonts/ttf/manrope-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-font-feature-settings: "liga" on, "calt" on;
    font-feature-settings: "liga" on, "calt" on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Manrope';
}

body {
    background-color: $dark;
    color: #ffbd69;
}
.full {
    width: 100%;
    height: 100%;
}

.row {
    display:flex;
}

.centered {
    justify-content: center;
    align-items: center;
}
.version {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 4px 8px 4px 6px;
    background-color: darken($dark, 5%);
}

h1.display {
    font-size: 6rem;
    margin: 0;
    margin-bottom: 1rem;
    background-clip: text;
    //background: repeating-linear-gradient(-55deg, $color, $color calc(100%/6), $accent calc(100%/6), $accent calc(300%/6), calc(300%/6), $lighter calc(500%/6), $color calc(500%/6), $color);
    background: repeating-linear-gradient(-55deg, $color, $color calc(100%*0.5/6), $accent calc(100%*0.5/6), $accent calc(100%*1.5/6), $lighter calc(100%*1.5/6), $lighter calc(100%*2.5/6), $color calc(100%*2.5/6), $color calc(100%*3.5/6), $accent calc(100%*3.5/6), $accent calc(100%*4.5/6), $lighter calc(100%*4.5/6), $lighter calc(100%*5.5/6), $color calc(100%*5.5/6), $color 100%);
    //background: repeating-linear-gradient(-55deg, $color, $color 12.5%, $accent 12.5%, $accent 25%, $lighter 25%, $lighter 37.5%, #FFF 37.5%, #FFF 50%, $color 50%, $color 62.5%, $accent 62.5%, $accent 75%, $lighter 75%, $lighter 87.5%, $color 87.5%, $color);
    background-size: 200% auto;
    animation: gradient 30s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    color: #000;
}

#commandline {
    padding: 0.5rem 1rem;
    width: 100%;
    font-size: 1.6rem;
    //background-color:$lighter;
    background-color: darken($dark, 5%);
    color: $color;
    border: 0;
    input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: rgba(0,0,0,0);
        border: 0;
        
    }
    span {
        margin-right: 0.3rem;
    }
}

.text-center
{
    text-align: center;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 200% 50%;
	}
}