body 
{
    background: rgb(204,204,204); 
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
page 
{
    background: white;
    background-color:#fdfdfd;
    color:#343537;
    display: flex;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    overflow: hidden;
}
page:first-child
{
    margin-top:6.9%;
}
.inverted
{
    background-color:#343537;
    color: #f3f3f3;
}
.accent
{ 
    background-color:#7eb770;
}

@-webkit-keyframes color-change 
{
    0% { background: #f79f79; }
    5% { background: #f7d08a; }
    15% { background: #e3f09b; }
    25% { background: #87b6a7; }
    35% { background: #70a288; }
    45% { background: #6e7271; }
    55% { background: #9cec5b; }
    65% { background: #f0f465; }
    75% { background: #9cec5b; }
    85% { background: #f15025; }
    95% { background: #FF545C; }
    100% { background : #f79f79; }
}

.fileScreen
{
    background-color:#343537;
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.inputs
{
    background-color:#fdfdfd;
    line-height:42px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.inputs h2
{
    text-align: center;
}
.inputs fieldset
{
    border:none;
}


#full
{
    margin:6.9%;
    overflow: hidden;
    width:100%;
}
#main
{
    margin:5%;
}
#sender
{
    display:flex;
    align-items:flex-end;
    
}
#send-right
{
    padding-left:5%;
}
#receiver,#sender
{
    padding-top:4%;
    padding-bottom:4%;
}
.padded
{
    padding-right:5%;
    padding-left:5%;
}
#receiver
{
    padding-bottom:0;
}
#date
{
    text-align: right;
    padding-bottom:4%;
}
#subject
{
    padding-bottom:7%;
}
#greetings
{
    padding-top:7%;
}
#profile-f
{
    
    height:100%;
    width:100%;
}
.full 
{
    overflow: hidden;
    width:100%;
}
.header
{
    width:100%;
}
.header-l
{
    padding-left:5%;
    padding-top:2%;
    padding-bottom:2%;
}
.header-r
{
    text-align: right;
    padding-right:5%;
    padding-bottom:1%;
}
#profileHeader-l
{
    padding-left:5%;
    padding-top:2%;
    padding-bottom:2%;
}
#profileHeader-r
{
    text-align: right;
    padding-right:5%;
    padding-bottom:1%;
}
#personal
{
    height:26%;
}
#profilePic /*Area*/
{
    /* TODO Real Math: % instead of fixed px and mathimacally sound calcs, not guesses */
    margin:auto;
    margin-top:8%;
    margin-bottom:8%;
    height: 225px;
    width:225px;
    border-radius: 50%;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    overflow:hidden;
}
#profilePicture
{
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin-left:15%;
}
#personalR
{
    display:flex;
    align-items: center;
}
#personalR td
{
    padding:3%;
}
#personalR table
{
    
    border-spacing: 30%;
}
.profileContent
{

    height:100%;
    background: linear-gradient(90deg, rgba(242,242,242,0) 42%, rgba(242,242,242,1) 42%);
    
}
.section-L
{
    width:42%;
}
.section-R
{
    width:58%;
    padding-left:1.5%;
}
.section 
{
    display:flex;
}
.title
{
    padding-left:2%;
    margin-left: 4%;
    margin-right: 4%;
}
#CVheader-f
{
    margin-bottom:2%;
}
#languageR
{
    display:flex;
    justify-content: center;
    padding-top:3%;
}
#pageCV td:nth-child(2)
{
    padding: 1%;
    border-left-width: 1px;
    border-left-color: #343537;
    border-left-style: solid;
}
#languageR td:first-child
{
    border-right-width: 3px;
    border-right-color: black;
    border-right-style: solid;
    border-collapse: collapse;
    border-spacing: 0;
}
#education .tlDate::after, #academia .tlDate::after
{
    content:"•";
    margin-left:15.5%;
}
#education .tlDate, #academia .tlDate
{
    text-align: right;
}
.languageEntries
{
    text-align: right;
}
.languages, .languageScores
{
    padding:3%;
}
.languageScores 
{
    padding-left:6%;
    border-left-width: 1px;
    border-left-color: #343537;
    border-left-style: solid;
}

#languageR ul, #languageR li, .languageScores
{
    
    margin:0;
}

ul 
{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
  
li
{
    padding-left: 1em;
    text-indent: -1em;
}
  
#profile-c li:before 
{
    
    font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0da";
    padding-right: 5px;
}
page[size="A4"] 
{  
    width: 21cm;
    height: 29.7cm; 
}
h3, h2, h1
{
    font-weight: normal;
    margin:0px;
}

